@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	font-family: "Cormorant Garamond", serif;
	font-weight: 500;
	font-style: normal;

	margin: 0 auto;
	padding: 0.5rem;
	text-align: center;
	@apply max-w-screen-lg;
}
.smallcaps {
	font-family: "Cormorant SC", serif;
}

a,
.link-button {
	@apply italic underline decoration-1 underline-offset-2;
}
